---
# yaml-language-server: $schema=https://schemas.bykaj.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg-cluster
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudnative-pg-operator
    - name: barman-cloud
  interval: 1h
  path: ./kubernetes/apps/database/cloudnative-pg/cluster/app
  postBuild:
    substitute:
      APP: *app
      CNPG_V17_CURRENT_CLUSTER: "postgres-v17-20251022"
      CNPG_V17_PREVIOUS_CLUSTER: "postgres-v17-20251015"
      CNPG_V18_CURRENT_CLUSTER: "postgres-v18-20251121"
      CNPG_V18_PREVIOUS_CLUSTER: "postgres-v17-20251022"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
