---
# yaml-language-server: $schema=https://schemas.bykaj.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg-cluster
  namespace: &namespace database
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudnative-pg-operator
      namespace: *namespace
    - name: plugin-barman-cloud
      namespace: *namespace
  interval: 1h
  path: ./kubernetes/apps/database/cloudnative-pg/cluster/app
  postBuild:
    substitute:
      APP: *app
      CNPG_CURRENT_CLUSTER: "postgres-v17-20250924"
      CNPG_PREVIOUS_CLUSTER: "postgres-v17-20250813"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
