---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  values:
    alertmanager:
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
        externalUrl: https://alertmanager.${DOMAIN_APP}
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi
              storageClassName: ceph-block
      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.${DOMAIN_APP}
          parentRefs:
            - name: envoy-internal
              namespace: network
    cleanPrometheusOperatorObjectNames: true
    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: observability
        matchLabels:
          grafana.internal/instance: grafana
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
    kubeEtcd:
      service:
        selector:
          component: kube-apiserver
    kubeProxy:
      enabled: false
    prometheus:
      prometheusSpec:
        externalUrl: https://prometheus.${DOMAIN_APP}
        version: v2.55.1 # override 'unsupported Prometheus version' error
        image:
          registry: docker.io
          repository: prompp/prompp
          tag: 0.7.0
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        resources:
          limits:
            memory: 2048Mi
          requests:
            cpu: 50m
        retention: 14d
        retentionSize: 40GB
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        securityContext:
          fsGroup: 64535
          runAsGroup: 64535
          runAsNonRoot: true
          runAsUser: 64535
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 42Gi
              storageClassName: ceph-block
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.${DOMAIN_APP}
          parentRefs:
            - name: envoy-internal
              namespace: network
    prometheus-node-exporter:
      fullnameOverride: node-exporter
