---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app n8n
spec:
  chartRef:
    kind: OCIRepository
    name: n8n
  interval: 1h
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: n8n-secret
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 2.2.0@sha256:d668889ca1f17367027f52bcee525dfde6d369d6b64be4a66b6fa22cb97f9ff3
            env:
              DB_POSTGRESDB_HOST: "${DB_HOST}"
              DB_TYPE: "postgresdb"
              EXECUTIONS_DATA_MAX_AGE: "7"
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: "50000"
              EXECUTIONS_DATA_PRUNE: "true"
              GENERIC_TIMEZONE: "${TIMEZONE}"
              N8N_DIAGNOSTICS_ENABLED: "false"
              N8N_EMAIL_MODE: "smtp"
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "false"
              N8N_HIDE_USAGE_PAGE: "true"
              N8N_HOST: "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
              N8N_LOG_LEVEL: "info"
              N8N_LOG_OUTPUT: "console"
              N8N_METRICS: "true"
              N8N_PORT: &port 5678
              N8N_PROTOCOL: "https"
              N8N_PROXY_HOPS: "1"
              N8N_RUNNERS_ENABLED: "true"
              N8N_SMTP_PORT: "587"
              WEBHOOK_URL: "https://${APP_SUBDOMAIN:=${APP}}-webhook.${DOMAIN_IO}/"
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                <<: *probes
                spec:
                  httpGet:
                    path: /healthz/readiness
                    port: *port
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        globalMounts:
          - path: /home/node/.n8n
    route:
      *app :
        hostnames:
          - "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: *app
                port: *port
      webhook:
        annotations:
          gatus.home-operations.com/enabled: "false"
        hostnames:
          - "${APP_SUBDOMAIN:=${APP}}-webhook.${DOMAIN_IO}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - path:
                  value: /webhook
            backendRefs: [{}]
    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      *app :
        enabled: true
        endpoints:
          - scheme: http
            targetPort: *port
            path: /metrics
            interval: 10s
            honorLabels: true
