---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rook-ceph-tools
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-tools
  interval: 1h
  values:
    controllers:
      toolbox:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/rook/ceph
              tag: v1.19.1@sha256:2ddb6462ce74a395645b17894d3b805bf7f824acff553b778960df1347e2d046
            command: ["/bin/bash"]
            args: ["-m", "-c", "/usr/local/bin/toolbox.sh"]
            env:
              ROOK_CEPH_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: rook-ceph-mon
                    key: ceph-username
              ROOK_CEPH_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: rook-ceph-mon
                    key: ceph-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
            securityContext:
              privileged: true
    defaultPodOptions:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      securityContext:
        runAsUser: 0
        runAsGroup: 0
    persistence:
      transfer:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault/Transfer
        globalMounts:
          - path: /mnt/transfer
      dev:
        type: hostPath
        hostPath: /dev
        globalMounts:
          - path: /dev
      libmodules:
        type: hostPath
        hostPath: /lib/modules
        globalMounts:
          - path: /lib/modules
      mon-endpoint-volume:
        type: configMap
        name: rook-ceph-mon-endpoints
        globalMounts:
          - path: /etc/rook/mon-endpoints
            subPath: data
            readOnly: true
      sysbus:
        type: hostPath
        hostPath: /sys/bus
        globalMounts:
          - path: /sys/bus
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    service:
      app:
        controller: *app
        enabled: false
    serviceAccount:
      rook-ceph-default: {}
