---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whisparr
spec:
  chartRef:
    kind: OCIRepository
    name: whisparr
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/hotio/whisparr
              tag: v3-3.0.1.1310@sha256:7c9f7098679258a250ed24b19f6a95e671f65f8669f91abd2f87d27c71fc2a5e
            env:
              PGID: "${APP_GID:-1000}"
              PUID: "${APP_UID:-1000}"
              UMASK: "002"
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 6969
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 4Gi
            securityContext:
              readOnlyRootFilesystem: false
              runAsGroup: 0
              runAsUser: 0
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        globalMounts:
          - path: /config
      backups:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault/Backups
        globalMounts:
          - path: /mnt/backups
            subPath: Apps/Whisparr
      downloads:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault/Downloads
        globalMounts:
          - path: /mnt/downloads
      media:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault/Private
        globalMounts:
          - path: /mnt/private
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /config/logs
            subPath: logs
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "false"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Downloads"
          gethomepage.dev/name: "${APP_NAME}"
          gethomepage.dev/icon: "sh-whisparr.svg"
        hostnames:
          - "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
