---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  chartRef:
    kind: OCIRepository
    name: pgadmin
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: ghcr.io/home-operations/k8s-sidecar
              tag: 2.1.2@sha256:d9e169add4e71fd5931a24e11696853f3d804ebc2022cd81f038e7ef22f4d626
            command: ["/bin/bash", "-c"]
            args:
              - |
                export USER_FOLDER=$(echo "/var/lib/pgadmin/storage/$PGADMIN_DEFAULT_EMAIL" | sed 's/@/_/g')
                echo "Creating user folder $USER_FOLDER.";
                mkdir -p $USER_FOLDER;
                cp /tmp/secrets/.pgpass $USER_FOLDER/.pgpass;
                chown 5050:5050 $USER_FOLDER/.pgpass;
                chmod 600 $USER_FOLDER/.pgpass;
                echo "Done."
            env:
              PGADMIN_DEFAULT_EMAIL:
                valueFrom:
                  secretKeyRef:
                    name: &secret pgadmin-secret
                    key: PGADMIN_DEFAULT_EMAIL
        containers:
          app:
            image:
              repository: dpage/pgadmin4
              tag: 9.9.0@sha256:5d9624a93634d1c5e595619cc57b1d330758120d1baf445fa97300c0c1fc3c0a
            env:
              PGADMIN_CONFIG_AUTHENTICATION_SOURCES: "['oauth2']"
              PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: "20"
              PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
              PGADMIN_CONFIG_MAIL_PORT: "587"
              PGADMIN_CONFIG_MAIL_USE_TLS: "True"
              PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
              PGADMIN_CONFIG_OAUTH2_AUTO_CREATE_USER: "True"
              PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED: "False"
              PGADMIN_DISABLE_POSTFIX: "True"
              PGADMIN_LISTEN_PORT: &port 5050
              PGADMIN_REPLACE_SERVERS_ON_STARTUP: "True"
            envFrom:
              - secretRef:
                  name: *secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /misc/ping
                    port: *port
                  initialDelaySeconds: 20
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsUser: ${APP_UID:=5050}
        runAsGroup: ${APP_GID:=5050}
        fsGroup: ${APP_GID:=5050}
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        globalMounts:
          - path: /var/lib/pgadmin
      secrets:
        type: secret
        name: *secret
        advancedMounts:
          *app :
            init-config:
              - path: /tmp/secrets/.pgpass
                subPath: pgpass
            app:
              - path: /pgadmin4/servers.json
                subPath: servers.json
      backups:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault-alpha/Backups
        globalMounts:
          - path: /mnt/backups
            subPath: Apps/pgAdmin
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Tools"
          gethomepage.dev/name: "${APP_NAME}"
          gethomepage.dev/icon: "sh-pgadmin.svg"
        hostnames:
          - "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
