---
machine:
  network:
    hostname: kube-node-03
    interfaces:
      - addresses:
          - 10.73.10.112/20
        deviceSelector:
          hardwareAddr: bc:24:11:ae:0c:56
        dhcp: true
        mtu: 1500
        routes:
          - gateway: 10.73.0.254
            network: 0.0.0.0/0
  nodeLabels:
    node.kubernetes.io/gpu: 'true'
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 120GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 128GiB
