---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./issuer.yaml
  - ./certificate.yaml
  - ./objectstore.yaml
  - ./cluster.yaml
  - ./scheduledbackup.yaml
  - ./service.yaml
  - https://raw.githubusercontent.com/cloudnative-pg/artifacts/refs/heads/main/image-catalogs/catalog-minimal-trixie.yaml
