---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi-dns
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.6.2@sha256:cff737eb9d7d7d1e5aec49f510588e3172667dba3d4e7f544f0497b68c5f9c51
        env:
          - name: UNIFI_HOST
            valueFrom:
              secretKeyRef:
                name: &secret unifi-dns-secret
                key: UNIFI_HOST
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: *secret
                key: UNIFI_API_KEY
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    triggerLoopOnEvent: true
    policy: sync
    sources:
      - gateway-httproute
      - gateway-tlsroute
      - gateway-grpcroute
      - service
    txtOwnerId: unifi
    txtPrefix: k8s.
    domainFilters:
      - ${DOMAIN_APP}
      - ${DOMAIN_DEV}
      - ${DOMAIN_ID}
      - ${DOMAIN_IO}
      - ${DOMAIN_LOL}
      - ${DOMAIN_NET}
      - home.${DOMAIN_NET}
      - kvm.home.${DOMAIN_NET}
      - ${DOMAIN_ST}
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret