---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app publish-schemas
spec:
  chartRef:
    kind: OCIRepository
    name: publish-schemas
  interval: 1h
  values:
    controllers:
      *app :
        type: cronjob
        cronjob:
          schedule: "0 * * * *"
          concurrencyPolicy: "Replace"
          backoffLimit: 0
          failedJobsHistory: 1
          successfulJobsHistory: 1
        pod:
          restartPolicy: OnFailure
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
        initContainers:
          generate-schemas:
            image:
              repository: ghcr.io/bykaj/k8s-crd-extractor
              tag: 2025.9.18@sha256:fa7fc33ddbbbc829889ddde21b91317272fdadc1fdae2bec48a75afc3d18cdd2
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        containers:
          app:
            image:
              repository: ghcr.io/bykaj/wrangler
              tag: 4.59.2@sha256:34d972b71a156703c697fc3352bbf7e5ba8cdfc3b2593edb89a64210ae23e4df
            envFrom:
              - secretRef:
                  name: publish-schemas-secret
            args:
              - pages
              - deploy
              - /data/crdSchemas
              - --project-name
              - k8sschemas
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            generate-schemas:
              - path: /config/.datree
                subPath: data
              - path: /tmp
                subPath: tmp
            app:
              - path: /config
                subPath: config
              - path: /data
                subPath: data
    serviceAccount:
      *app : {}
    rbac:
      roles:
        *app :
          type: ClusterRole
          rules:
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions
                - customresourcedefinitions/status
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - apiregistration.k8s.io
              resources:
                - apiservices
                - apiservices/status
              verbs:
                - get
                - list
                - watch
      bindings:
        *app :
          type: ClusterRoleBinding
          roleRef:
            identifier: *app
          subjects:
            - identifier: *app
