---
customization:
  systemExtensions:
    officialExtensions:
      # Intel iGPU
      - siderolabs/i915
      - siderolabs/intel-ucode
      # NFS Performance
      - siderolabs/nfsrahead
      # QEMU Guest Agent for Proxmox
      - siderolabs/qemu-guest-agent
