---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app changedetection
spec:
  chartRef:
    kind: OCIRepository
    name: changedetection
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: 0.53.5@sha256:35f9523c2a78ebea6c8cdb93ac6f16911dfd2a9e4e4d899ba40421f67191f302
            env:
              BASE_URL: "https://${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
              DISABLE_VERSION_CHECK: "true"
              FETCH_WORKERS: "10"
              HIDE_REFERER: "true"
              MINIMUM_SECONDS_RECHECK_TIME: "3"
              PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?token=$(TOKEN)&blockAds=true&launch={"stealth":true}
              PORT: &port 5000
              SCREENSHOT_MAX_HEIGHT: "16000"
              TZ: "${TIMEZONE}"
              USE_X_SETTINGS: "1"
            envFrom:
              - secretRef:
                  name: &secret changedetection-secret
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 768Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
          browserless:
            image:
              repository: ghcr.io/browserless/chromium
              tag: v2.41.0@sha256:e11efbae6480278d2e2683ce5128b67055531f6c82380e5cddcd81d13120c56f
              pullPolicy: IfNotPresent
            env:
              CONCURRENT: "10"
              DATA_DIR: /profile
              DOWNLOAD_DIR: /downloads
              ENABLE_DEBUGGER: "false"
              SCREEN_DEPTH: "16"
              SCREEN_HEIGHT: "1024"
              SCREEN_WIDTH: "1920"
              TIMEOUT: "60000"
              TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: TOKEN
              TZ: "${TIMEZONE}"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              runAsUser: 999
              runAsGroup: 999
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: "${APP_UID:=4000}"
        runAsGroup: "${APP_GID:=4000}"
        fsGroup: "${APP_GID:=4000}"
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        advancedMounts:
          *app :
            app:
              - path: /datastore
                subPath: datastore
            browserless:
              - path: /downloads
                subPath: downloads
              - path: /profile
                subPath: profile
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Tools"
          gethomepage.dev/name: "${APP_NAME}"
          gethomepage.dev/icon: "sh-changedetection.svg"
          gethomepage.dev/widget.type: "changedetectionio"
          gethomepage.dev/widget.url: "https://${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_CHANGEDETECTION_API_KEY}}` }}"
          gethomepage.dev/widget.fields: '["diffsDetected", "totalObserved"]'
        hostnames:
          - "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
