---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  chartRef:
    kind: OCIRepository
    name: paperless
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.6@sha256:a28330462994b937938e02aaa5632a1effcc7f9acfba96c1bef9c50e1167a027
            env:
              # OIDC integration
              PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
              PAPERLESS_DISABLE_REGULAR_LOGIN: "true"
              PAPERLESS_REDIRECT_LOGIN_TO_SSO: "true"
              # Configure application
              PAPERLESS_FILENAME_FORMAT: "{ created }-{ correspondent }-{ title }"
              PAPERLESS_PORT: &port 8000
              PAPERLESS_TASK_WORKERS: "2"
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_URL: "https://${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
              PAPERLESS_WEBSERVER_WORKERS: "2"
              # Configure folders
              PAPERLESS_CONSUMPTION_DIR: &consumePath /mnt/archive/consume
              PAPERLESS_DATA_DIR: &dataPath /usr/src/paperless/data
              PAPERLESS_EXPORT_DIR: &exportPath /mnt/archive/export
              PAPERLESS_MEDIA_ROOT: &mediaPath /mnt/archive/media
              # Configure folder importer
              PAPERLESS_CONSUMER_POLLING: "15"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              # Configure OCR
              PAPERLESS_OCR_LANGUAGE: nld+eng
              PAPERLESS_OCR_LANGUAGES: nld
              # Configure database
              PAPERLESS_DBHOST: "${DB_HOST}"
              # Configure user permissions
              USERMAP_UID: "${APP_UID}"
              USERMAP_GID: "${APP_GID}"
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 25m
                memory: 2Gi
              limits:
                memory: 4Gi
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM:=${APP}}"
        globalMounts:
          - path: *dataPath
      archive:
        existingClaim: ${APP}-smb-archive
        globalMounts:
          - path: *consumePath
            subPath: consume
          - path: *exportPath
            subPath: export
          - path: *mediaPath
            subPath: media
      backups:
        existingClaim: ${APP}-smb-backups
        globalMounts:
          - path: /mnt/backups
            subPath: Apps/Paperless
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /usr/src/paperless/data/log
            subPath: log
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Tools"
          gethomepage.dev/name: "${APP_NAME}"
          gethomepage.dev/icon: "paperless-ngx.png"
          gethomepage.dev/widget.type: "paperlessngx"
          gethomepage.dev/widget.url: "https://${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_PAPERLESS_API_KEY}}` }}"
          gethomepage.dev/widget.fields: '["total", "inbox"]'
        hostnames:
          - "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: *app
                port: *port
    service:
      *app :
        primary: true
        controller: *app
        ports:
          http:
            port: *port
