---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
spec:
  chartRef:
    kind: OCIRepository
    name: stash
  interval: 1h
  values:
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: stashapp/stash
              tag: v0.30.0@sha256:96aeb50b9b461be88edf94da6854b927ad5e7ca0e773f34f619d4c3d13131144
            env:
              TZ: "${TIMEZONE}"
              STASH_STASH: "/mnt/private"
              STASH_GENERATED: "/generated"
              STASH_METADATA: "/metadata"
              STASH_CACHE: "/cache"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 9999
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 20m
                memory: 512Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: "${APP}-gpu"
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 4000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /blobs
            subPath: blobs
          - path: /root/.stash
            subPath: config
          - path: /generated
            subPath: generated
          - path: /metadata
            subPath: metadata
      backups:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault/Backups
        globalMounts:
          - path: /mnt/backups
            subPath: Apps/Stash
      media:
        type: nfs
        server: "${NAS_HOST}"
        path: /mnt/vault/Private
        globalMounts:
          - path: /mnt/private
      tmpfs:
        type: emptyDir
        advancedMounts:
          stash:
            app:
              - path: /cache
                subPath: cache
              - path: /root/.stash/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "false"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Media"
          gethomepage.dev/name: "${APP_NAME}"
          gethomepage.dev/icon: "sh-stash.svg"
          gethomepage.dev/widget.type: "stash"
          gethomepage.dev/widget.url: "https://${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_STASH_API_KEY}}` }}"
          gethomepage.dev/widget.fields: '["scenes", "movies", "performers", "studios"]'
        hostnames:
          - "${APP_DOMAIN:=${APP_SUBDOMAIN:=${APP}}.${DOMAIN_APP}}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
